.customer-table-container {
  padding: 20px;
}

.customer-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f0f4f8;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.customer-table thead {
  background-color: #1b263b;
  color: white;
}

.customer-table th,
.customer-table td {
  padding: 12px 15px;
  text-align: center;
}

.customer-table tbody tr:nth-child(odd) {
  background-color: #fafafa;
  color: rgb(17, 17, 17);
}

.customer-table tbody tr:nth-child(even) {
  background-color: #d7dbdf2a;
}

.customer-table tbody tr:hover {
  background-color: #e1e2e47a;
  cursor: pointer;
}
